<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Title</title>
</head>
<body style="background-image: url('https://images5.alphacoders.com/360/360516.jpg');">
    <%- include('navbar') %>
    <h1 class="tittle">Welcome to Qwack</h1>
    <h2 class="subtitle"> Interact with lots of people in a fun way!</h2>
<button class="btn">
    Log In
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
    </svg>
  </button>
  <%- include('_script') %>
</body>
</html>