<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body style="background-image: url('https://images5.alphacoders.com/360/360516.jpg');">
    <%- include('navbar') %>
    <h1 class="tittle">Welcome to Qwack</h1>
    <h2 class="subtitle"> Interact with lots of people in a fun way!</h2>
    <button style="margin-top: 10px;" type="LogIn" class="btn btn-primary">Log In</button>
</body>
</html>
